::ng-deep .arrow-up {
  width: 24px;
  height: 24px;
  background-image: url("../../../../assets/images/arrowUp.png");
  background-position: center;
  margin: 0;
}

::ng-deep .arrow-down {
  width: 24px;
  height: 24px;
  background-image: url("../../../../assets/images/arrowDown.png");
  background-position: bottom;
  margin: 0;
}
